/* Universal Selector */
* {
    margin: 2%;
}


/* Type Selector */
body {
    color: dodgerblue;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
}

/* Class Selector */
.first {
    /* .className{ property="value" } */
    color: black;
}

.large {
    font-size: 30px;
}

/* Id Selector */
#eklist {
    /* #id_Name{ property="value" } */
    background-color: brown;
}

input[type="text"] {
    background-color: blue;
    color: white;
}


/* Attribute selector */
a[href="google.com"] {
    color: chartreuse;
    /* background-color: coral; */
    text-decoration: none;
}

/* Pseudo selector */
.first:hover {
    color: white;
}